# Terraform
**/.terraform/
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.backup
**/*.tfvars
**/*.tfplan

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Python
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Docker
*.log
.docker/

# Secrets
*.pem
*.key
jenkins-credentials.txt
